html {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: #A0E35D;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #A0E35D;
  text-shadow: 3px 3px 1px grey;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #F6F655;
  padding: 20px 20px 55px 20px;

}

img {
  display: block;
  margin: 0 auto;
}
